Flask
flask_cors
flask_restful
flask_jsonpify
requests
pymongo
flask_pymongo
Flask_JWT_Extended
Flask_Bcrypt
jsonschema
bottle
twint
pathvalidate
gevent-websocket
gunicorn
psutil

numpy
torch
torchvision
pytorch_pretrained_bert
argparse
scikit-learn
pandas
finbert-embedding
sklearn
pathlib
yahoo_fin
requests_html